@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-height: 3.5rem;

    /* COLOR */
    --body-color: hsl(228, 15%, 20%);
    --text-color: hsl(228, 8%, 65%);
    --title-color: hsl(228, 8%, 95%);
    --container-color: hsl(228, 15%, 15%);
    --first-color: #08e3d5;
    --first-color-alt: hsl(var(--hue), 56%, 35%);

    /* FONT TEXT */
    --body-font: "Inter", serif;
    --maior-font-size: 1.25rem;
    
    /* FONT WEIGHT */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z-INDEX */
    --z-fixed: 100;
}

/* BASE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

img,
svg {
    width: 100%;
    height: auto;
}

/* REALSAR CSS da CLASSE */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* HEADER e NAV */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--container-color);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span {
    color: var(--first-color);
}

.nav__list {
    display: flex;
    gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.active-link {
    color: var(--first-color);
}

/* HOME */
.home {
    background-color: var(--container-color);
    height: 100vh;
}

.home__container {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.home__content {
    width: 25rem;
}

.home__pre__content {
    text-align: center;
}

.home__title {
    font-size: var(--maior-font-size);
    font-weight: var(--font-semi-bold);
}

.home__title span {
    color: var(--first-color);
}

.home__description {
    margin-block: 1rem 1.5rem;
}

.home__redes__sociais {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    padding-top: 1rem;
}

.home__redes__sociais-link {
    display: flex;
    background-color: var(--first-color);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

.home__redes__sociais-link:hover {
    transform: translateY(-.25rem);
}

.home__image {
    justify-self: center;
}

.home__blob {
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2))
}

.home__img {
    width: 900px;
    transform: translateX(-150px);
}

/* BOTTON */
.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    color: var(--body-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    opacity: .8;
}




