@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-height: 3.5rem;

    /* COLOR */
    --body-color: #191b24;
    --text-color: #bfc3d3;
    --title-color: #f1f2f3;
    --container-color: #343846;
    --first-color: #00ffff;

    /* FONT TEXT */
    --body-font: "Inter", serif;
    --big-font-size: 2rem;
    --medio-font-size: 1.5rem;
    --small-font-size: 1.2rem;
    
    /* FONT WEIGHT */
    --font-small: 400;
    --font-medium: 500;
    --font-semi-bold: 700;
    --font-bold: 900;

    /* Z-INDEX */
    --z-fixed: 100;
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    background-color: var(--container-color);
    color: var(--title-color);
    position: relative;
}

/* REFACTOR CODE CLASS */
a {
    text-decoration: none;
}

.logo__nav span {
    color: var(--first-color);
}

li {
    list-style: none;
}

.home,
.about,
.skills {
    min-height: 100vh;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.subtitle__section {
    font-weight: var(--font-semi-bold);
    font-size: var(--medio-font-size);
}

.subtitle__section span {
    color: var(--first-color);
}

.title__section {
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
}

/* HEADER e NAV */
.header {
    height: 3.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--container-color);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
}

.logo__nav {
    color: var(--title-color);
}

.list__nav {
    display: flex;
    gap: 2rem;
}

.link__nav {
    color: var(--title-color);
    transition: .5s ease;
}

.link__nav:hover {
    color: var(--first-color);
}

.active-link {
    color: var(--first-color);
}

.menu-btn {
    display: none;
}

/* HOME */
.main {
    max-width: 100vw;
    overflow: hidden;
}

.container__home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0 1.5rem;
}

.content__home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__pre__content {
    text-align: center;
    width: 60%;
}

.title__home {
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
}

.title__home span {
    color: aqua;
}

.subtitle__home {
    font-weight: var(--font-semi-bold);
    font-size: var(--medio-font-size);
}

.description__home {
    color: var(--text-color);
    font-size: var(--small-font-size);
    margin-top: .5rem;
}

.button__home {
    padding: 0.7rem 3rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: .7rem;
    cursor: pointer;
    background-color: var(--first-color);
    font-weight: var(--font-semi-bold);
    transition: .5s ease-in-out;
}

.button__home:hover {
    opacity: .5;
}

/* Redes socias */
.redes__sociais-link {
    text-decoration: none;
    background-color: aqua;
    padding: .5rem;
    color: #191b24;
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

.redes__sociais-link:hover {
    transform: translateY(-.25rem);
}

.sociais-home {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.image-home {
    border-radius: 50%;
}

/* ABOUT */
.about {
    background-color: var(--body-color);
}

.container__about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    padding: 0 1rem;
}

.content__about {
    width: 50%;
    text-align: center;
}

.description__about {
    color: var(--text-color);
    margin-top: .5rem;
}

/* SKILLS */
.skills {
    background-color: var(--container-color);
}

.container__skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
}

.content__skills {
    text-align: center;
    width: 40%;
}

.description__skills {
    color: var(--text-color);
}

.button__skills {
    padding: 0.7rem 3rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1.2rem;
    cursor: pointer;
    background-color: aqua;
    font-weight: var(--font-semi-bold);
    transition: .5s ease-in-out;
    text-decoration: none;
}

.button__skills:hover {
    opacity: .5;
}

.formation__skills {
    display: flex;
    gap: 3rem;
}

.skills__item {
    margin: 1rem 0;
    font-size: 1.2rem;
}

/* PROJECTS */
.project {
    min-height: 100vh;
    padding-top: 4rem;
    background-color: var(--body-color);
}

.content__project {
    text-align: center;
    margin: 2rem 0;
}

.title__project {
    margin: .5rem 0;
}

.container__project {
    padding: 0 1rem;
}

.swiper-slide {
    width: 20rem;
    height: 100%;
    overflow: hidden;
    border: 2px solid var(--first-color);
    border-radius: 1rem;
    padding: .5rem;
    background-color: var(--container-color);
}


.img__project {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
}

.content__card {
    text-align: center;
}

.title__card {
    color: aqua;
    font-size: var(--medio-font-size);
    font-weight: var(--font-semi-bold);
    margin-top: .5rem;
}

.description__card {
    font-size: 1rem;
    color: var(--text-color);
    margin: 1rem;
}

.button__project {
    margin-bottom: 1rem;
}

.button__card {
    text-decoration: none;
    border-radius: .3rem;
    margin: 1rem;
    color: aqua;
    cursor: pointer;
    position: relative;
    padding: .5rem;
}

/* ANIMATION BUTTON MODAL */
.button__card::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: .3rem;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: -2px solid transparent;
    border-right: -2px solid transparent;
}

.button__card::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: .3rem;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: -2px solid transparent;
    border-left: -2px solid transparent;
}

.button__card:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid aqua;
    border-right: 2px solid aqua;
} 

.button__card:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid aqua;
    border-left: 2px solid aqua;
}

.swiper-button-prev {
    font-weight: bold;
}

.swiper-button-next {
    font-weight: bold;
} 


/* FOOTER */
.footer {
    background-color: var(--container-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.footer__container {
    text-align: center;
}

.title__footer {
    font-size: 1.5rem;
}

.title__footer span {
    color: aqua;
}

.subtitle__footer {
    font-size: 1.2rem;
}

.sociais-footer {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1032px) {
    /*===== HEADER ====*/
    .menu-btn {
        display: block;
    }

    .logo__nav {
        color: var(--title-color);
    }
    
    .menu-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 1.3rem;
        border: none;
        font-weight: bold;
        padding: .5rem;
        border-radius: .3rem;
        cursor: pointer;
        z-index: 1000;
      }
    
    .menu__nav {
        position: fixed;
        top: 0;
        right: -300px; /* Fora da tela inicialmente */
        width: 300px;
        height: 100%;
        background-color: var(--body-color);
        color: var(--title-color);
        transition: right 0.3s ease;
        padding-top: 50px;
    }

    .menu__nav ul {
        list-style-type: none;
        padding: 0;
    }

    .menu__nav ul li {
        margin: 20px 0;
    }
    
    .menu__nav ul li a {
        color: var(--title-color);
        text-decoration: none;
        font-size: var(--small-font-size);
    }

    .menu__nav.open {
        right: 0; /* Faz o menu aparecer */
    }
    
    .menu-btn.open {
        background-color: #444;
        color: #fff;
        transition: transform 0.3s ease;
    }

    .list__nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /*==== HOME ====*/
    .container__home {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home__pre__content {
        width: 100%;
    }

    .description__home {
        margin: 1rem;
    }

    .image-home {
        width: 15rem;
    }

    /*==== ABOUT ====*/
    .container__about {
        flex-direction: column;
        justify-content: center;
    }

    .content__about {
        width: 100%;
    }

    .img-about {
        width: 15rem;
    }

    /*==== SKILL ====*/
    .container__skill {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content__skills {
        width: 100%;
    }

    .formation__skills {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .skills__item {
        font-size: 1rem;
    }

    .footer {
        flex-direction: column;
    }

    .footer__content {
        flex-direction: column;
        gap: .5rem;
    }

    .footer__copy {
        text-align: center;
        margin-top: .5rem;
    }
}