@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-height: 3.5rem;

    /* COLOR */
    --body-color: hsl(228, 15%, 20%);
    --text-color: hsl(228, 8%, 65%);
    --title-color: hsl(228, 8%, 95%);
    --container-color: hsl(228, 15%, 15%);
    --first-color: #08e3d5;
    --first-color-alt: hsl(var(--hue), 56%, 35%);

    /* FONT TEXT */
    --body-font: "Inter", serif;
    --big-font-size: 1.8rem;
    --medio-font-size: 1.5rem;
    --small-font-size: 1.2rem;
    
    /* FONT WEIGHT */
    --font-small: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;

    /* Z-INDEX */
    --z-fixed: 100;
}

/* BASE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

img,
svg {
    width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.section {
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.section {
    padding-top: var(--header-height);
}

.section__title {
    font-size: var(--big-font-size);
}

.section__subtitle {
    font-size: var(--medio-font-size);
}


/* HEADER e NAV */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--container-color);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span {
    color: var(--first-color);
}

.nav__list {
    display: flex;
    gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.section__title {
    font-size: var(--big-font-size);
}

.section__subtitle {
    font-size: var(--medio-font-size);
}

.section__description {
    font-size: var(--small-font-size);
}

.section__title span,
.section__subtitle span {
    color: var(--first-color);
}

.home__content,
.about__data,
.skills__data {
    width: 25rem;
}

.active-link {
    color: var(--first-color);
}

/* HOME */
.home {
    background-color: var(--container-color);
    height: 100vh;
}

.home__container {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home__pre__content {
    text-align: center;
}

.home__title {
    font-size: var(--maior-font-size);
    font-weight: var(--font-semi-bold);
}

.home__subtitle {
    padding: 1rem;
}

.home__redes__sociais {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    padding-top: 1rem;
}

.home__redes__sociais-link {
    display: flex;
    background-color: var(--first-color);
    padding: .5rem;
    color: var(--container-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

.home__redes__sociais-link:hover {
    transform: translateY(-.25rem);
}

.home__image {
    justify-self: center;
}

.home__blob {
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2))
}

.home__img {
    width: 900px;
    transform: translateX(-150px);
}

/* BOTTON */
.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    color: var(--body-color);
    font-weight: var(--font-bold);
    cursor: pointer;
    margin-top: 2rem;
    transition: .4s;
}

.button:hover {
    opacity: .4;
}

/* ABOUT */
.about__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.about__title {
    padding: 1rem 0;
}

.about__image {
    justify-self: center;
}

.about__blob {
    width: 320px;
}

.about__blob path {
    stroke: var(--first-color);
}

.about__img {
    width: 900px;
    transform: translateX(-120px);
}

/* SKILLS */
.skills {
    background-color: var(--container-color);
}

.skills__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.skills__content {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.skills__group {
    display: grid;
    gap: 1.8rem;
}

.section__title {
    padding: 1rem 0;
}

.skills__item::marker {
    color: var(--first-color);
}

.skills__item {
    font-size: var(--medio-font-size);
}

.skills__item i {
    color: #fefefe;
}

/* PROJECTS */
.projects {
    display: grid;
}

.projects__content {
    text-align: center;
    padding: 3rem;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.project__card {
    width: 20rem;
    max-height: 30rem;
    border-radius: 1rem;
    border: 1px solid var(--first-color);
    overflow: hidden;
}

.project__modal {
    padding: .8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.button__modal {
    text-decoration: none;
    border-radius: .3rem;
    padding: .3rem;
    color: var(--first-color);

    position: relative;
}

.project__button {
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

/* ANIMATION BUTTON MODAL */
.button__modal::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: .3rem;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: -2px solid transparent;
    border-right: -2px solid transparent;
}

.button__modal::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: .3rem;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: -2px solid transparent;
    border-left: -2px solid transparent;
}

.button__modal:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--first-color);
    border-right: 2px solid var(--first-color);
} 

.button__modal:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--first-color);
    border-left: 2px solid var(--first-color);
}

.project__button__mostra {
    text-align: center;
    padding: 3rem
}

.project__button__cards {
    width: 11rem;
}